* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

header {
    background: url("./imgs/programmingbg.jpg") no-repeat center center/cover;
    min-height: 100vh;
    position: relative;
    z-index: -1;
    overflow: hidden;
}

header::before {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width:  100%;
    height: 100%;
    z-index: -1;
}

.out_side_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

.out_side_content h1 {
    font-size: 6rem;
    margin: 0 0 3rem 0;
}

.out_side_content p {
    font-size: 1.5rem;
}

.out_side_content h3 {
    font-size: 3rem;
    margin: 10rem 0 0 0;
}

.counters {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    text-align: center;
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
}

.counters span {
    display: block;
}

.time {
    padding: 2rem;
}

.numbers {
    font-size: 5rem;
    font-weight: 800;
}

@media(max-width: 720px) {
    .out_side_content h1 {
        font-size: 3rem;
    }
    .out_side_content p {
        font-size: 1rem;
    }
    .out_side_content h3 {
        font-size: 1.5rem;
    }
    .counters {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        color: #fff;
        text-align: center;
        margin: 1rem 0;
    }
    .numbers {
        font-size: 3.5rem;
        font-weight: 800;
    }
}